#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.todo-item {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px; 
}

.todo-text {
  flex: 1;
  word-break: break-word; 
}

.deleteButton {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteButton:hover{
  background-color: darkred;
}

button{
  margin-left: 30px;
}

.addButton{
  padding: 5px 10px;
  background-color: rgba(0, 0, 255, 0.232);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addButton:hover{
  background-color: rgba(0, 0, 255, 0.5);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
